<h1> List of owners. </h1>

<%- if  @owners.present? -%>
  <ul>
    <%- @owners.each do |own|  %>
      <li> <%= 'First Name: ' + own.first_name + '   Last Name:   ' + own.last_name  + '   email: ' + own.email %> </li>
    <%- end -%>
  </ul>
<%- end -%>
