<h1> Add a new owner by filling in the form below.</h1>
<%= form_for(@owner, url: {action: "create"})  do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, required: true %> <br>
<% end %>
